/*
*= require bootstrap
*= require themes/ui-lightness/jquery-ui-1.10.3.custom
*= require spinner.css
*/

label.required { font-style: italic; }
p.message { padding: 10px; }

div.statistics.loaded { height: 150px; }

/* Applications list */
.applications h2 { cursor: pointer }
.applications table .description { max-width: 150px; }

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/* Webservices Form */
select.associated-users { height: 200px; }
label small { font-weight: normal; display: block; }